<h1>hello world</h1>

{% schema %}
    {
      "name": "new",
      "target": "section",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "product",
          "autofill": true
        }, {
          "type": "color",
          "id": "colour",
          "label": "Star Colour",
          "default": "#ff0000"
        }
      ]
    }
  {% endschema %}